/* Just checking */

body{
   font-family:Nunito Sans;
   background: #FFFFFF 0% 0% no-repeat padding-box;
}

.img-allign img {
  display: flex;

  justify-content: center;
}

.text h2 {
  text-align: left;
  font: normal normal 900 40px/54px Nunito Sans;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  margin-top:4rem;
}
.text p {
  text-align: left;
  font: normal normal normal 18px/24px Nunito Sans;
  font-size: 18px;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
.btn button {
  width: 247px;
  height: 65px;
  color:#fff;
  background: #1492e6 0% 0% no-repeat padding-box;
  box-shadow: 0px 16px 48px #00000029;
  border-radius: 33px;
  opacity: 1;
  border: none;
  float: left;
  margin-top: 1rem;
}
.text h3 {
  font-size: 35px;
  text-align: center;
  font: normal normal bold 35px/47px Nunito Sans;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  margin-top: 7rem;
}
.card-bg {
  background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #00000029;
border-radius: 18px;
}
.card-border{
  border:none!important;
}

.text h5{
  text-align: left;
  font-size:24px;
  font-family:Nunito Sans;
  font-weight:bold;
}
.nav-item{
  padding:0 28px;
}

.nav-item .nav-link{
  color: black !important;
  font-weight: 600;
  
}
.nav-item .nav-link:hover{
  color: #00969b !important;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  font-size: 16px;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  width: 230px;
  /* line-height: 1; */
}
.dropdown-content a {
  color: black;
  /* font-weight: 600; */
  font-family: "mars_centrabook";
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover{
  color: #666;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.cards{
  background: #FFFFFF 0% 0% no-repeat padding-box;
   box-shadow: 0px 16px 48px #00000029;
   border-radius: 30px!important;
    opacity: 1;
}
.user__info img{
background-repeat:repeat-x;
/* align-item:right; */
justify-content:end;


}
image p{
 text-align: center;
font: normal normal bold 18px/24px Nunito Sans;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}
@media screen and (max-device-width: 767px)
  {
    .navbar-nav .nav-item a{
      width:100%;
      font-size: 15px;
      padding:10px 16px;
      color:#484848;
      font-weight: 600;
    }
   
    .dropdown-content {
      width:100%;
    }
  }
  @media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .navbar-nav .nav-item a{
      font-size: 12px;
    }
  }

